Repository vortex-data/vortex, pull requests merged in 2025-02, with the labels that each got.

#2192 PyVortex vortex.Scalar and subclasses
  docs/python/api/dtypes.rst
  docs/python/api/scalars.rst
  pyvortex/python/vortex/__init__.py
  pyvortex/python/vortex/_lib/dtype.pyi
  pyvortex/python/vortex/_lib/scalar.pyi
  pyvortex/python/vortex/scalar.py
  pyvortex/src/arrays/mod.rs
  pyvortex/src/dtype/factory.rs
  pyvortex/src/dtype/mod.rs
  pyvortex/src/expr.rs
  pyvortex/src/lib.rs
  pyvortex/src/scalar.rs
  pyvortex/src/scalar/binary.rs
  pyvortex/src/scalar/bool.rs
  pyvortex/src/scalar/extension.rs
  pyvortex/src/scalar/factory.rs
  pyvortex/src/scalar/into_py.rs
  pyvortex/src/scalar/list.rs
  pyvortex/src/scalar/mod.rs
  pyvortex/src/scalar/null.rs
  pyvortex/src/scalar/primitive.rs
  pyvortex/src/scalar/struct_.rs
  pyvortex/src/scalar/utf8.rs
  pyvortex/test/test_scalar.py
  vortex-scalar/src/struct_.rs
Labels: pyvortex

#2193 PyVortex DType subclasses
  docs/python/api/dtypes.rst
  pyvortex/python/vortex/__init__.py
  pyvortex/python/vortex/_lib/dtype.pyi
  pyvortex/src/arrays/mod.rs
  pyvortex/src/dtype/binary.rs
  pyvortex/src/dtype/bool.rs
  pyvortex/src/dtype/extension.rs
  pyvortex/src/dtype/factory.rs
  pyvortex/src/dtype/list.rs
  pyvortex/src/dtype/mod.rs
  pyvortex/src/dtype/null.rs
  pyvortex/src/dtype/primitive.rs
  pyvortex/src/dtype/struct_.rs
  pyvortex/src/dtype/utf8.rs
  pyvortex/src/scalar/mod.rs
Labels: pyvortex

#2210 Support downcast to encoding wrappers
  pyvortex/python/vortex/_lib/encoding.pyi
  pyvortex/src/arrays/mod.rs
  pyvortex/src/encoding/builtins/chunked.rs
  pyvortex/src/encoding/builtins/constant.rs
  pyvortex/src/encoding/builtins/mod.rs
  pyvortex/src/encoding/builtins/struct_.rs
  pyvortex/src/encoding/compressed.rs
  pyvortex/src/encoding/fastlanes.rs
Labels: pyvortex

#2085 perf: compare dict by value
  Cargo.lock
  encodings/dict/Cargo.toml
  encodings/dict/benches/dict_compare.rs
  encodings/dict/benches/dict_compress.rs
  encodings/dict/src/array.rs
  encodings/dict/src/compress.rs
  encodings/dict/src/compute/compare.rs
  vortex-array/src/array/bool/compute/cast.rs
  vortex-array/src/array/bool/compute/min_max.rs
  vortex-array/src/array/bool/compute/mod.rs
  vortex-array/src/array/extension/compute/mod.rs
  vortex-array/src/array/primitive/compute/min_max.rs
  vortex-array/src/array/varbin/compute/min_max.rs
  vortex-array/src/compute/min_max.rs
  vortex-array/src/compute/take.rs
  vortex-sampling-compressor/Cargo.toml
  vortex-sampling-compressor/src/downscale.rs
Labels: wire-break

#2355 feat: continuous s3 benchmarking
  .github/workflows/bench-pr.yml
  .github/workflows/sql-benchmarks.yml
  bench-vortex/src/bin/clickbench.rs
  bench-vortex/src/bin/tpch.rs
  bench-vortex/src/measurements.rs
  benchmarks-website/code.js
  benchmarks-website/index.html
  scripts/compare-benchmark-jsons.py
Labels: benchmark

#2478 Remove true count statistic in favor of sum
  encodings/bytebool/src/stats.rs
  encodings/datetime-parts/src/compute/compare.rs
  encodings/runend/src/statistics.rs
  vortex-array/src/arrays/bool/stats.rs
  vortex-array/src/arrays/primitive/stats.rs
  vortex-array/src/arrays/varbin/stats.rs
  vortex-array/src/compute/slice.rs
  vortex-array/src/stats/flatbuffers.rs
  vortex-array/src/stats/mod.rs
  vortex-array/src/stats/stats_set.rs
  vortex-array/src/validity.rs
  vortex-array/src/variants.rs
  vortex-flatbuffers/flatbuffers/vortex-array/array.fbs
  vortex-flatbuffers/src/generated/array.rs
  vortex-flatbuffers/src/generated/footer.rs
  vortex-flatbuffers/src/generated/message.rs
  vortex-layout/src/layouts/stats/stats_table.rs
  vortex-layout/src/layouts/stats/writer.rs
  vortex-layout/src/stats.rs
  vortex-scalar/src/primitive.rs
Labels: wire-break
